@model Faculty.Models.ProfileViewModel

<section style="margin-left: auto; margin-right: auto">
    <h4 class="m-y-2">@ViewBag.CourseStatus</h4>
    @if (Model == null || Model.Courses.Count() == 0)
    {
        <p>Here is no courses :(</p>
    }
    else
    {
        <table id="CourseListTable" class="table table-striped table-bordered" style="width: 100%">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Courses[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Courses[0].Theme)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Courses[0].teacher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Courses[0].Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Courses[0].End)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Courses[0].Length)
                </th>
                @if (User.IsInRole("student") && ViewBag.CourseStatus == "Finished")

                {
                    <th>
                        @Html.DisplayName("Mark")
                    </th>
                }
                @if (User.IsInRole("teacher")&& ViewBag.CourseStatus == "Finished")
                {
                    <th>
                        Controls
                    </th>
                }

            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Courses)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Theme.Name)

                    </td>

                    @if (item.teacher.Name != null)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.teacher.Name)
                        </td>
                    }
                    else
                    {
                        <td>
                            No teacher!

                        </td>
                    }


                    <td>
                        @Html.DisplayFor(modelItem => item.Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.End)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Length)

                    </td>
                    @if (User.IsInRole("student") && ViewBag.CourseStatus == "Finished")

                    {
                        <td>
                            @{
                                var a = Model.Grades.SingleOrDefault(x => x.CourseId == item.CourseEntityId)?.Mark.ToString();
                            }
                            @a

                        </td>
                    }

                    @{
                        if (User.IsInRole("admin"))
                        {
                            <td>
                                <div style="float: right">
                                    @{
                                        var id = "exampleModal" + item.CourseEntityId;
                                        var hid = "#" + id;
                                    }

                                    @Html.ActionLink("Edit", "Edit", "Course", new { CourseId = item.CourseEntityId }, new { role = "button", @class = "btn btn-success" })
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="@hid">
                                        Delete
                                    </button>
                                    <div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure want to delete?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    @Html.ActionLink("Delete", "Delete", "Course", new { CourseId = item.CourseEntityId }, new { @class = "btn btn-danger" })

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </td>
                        }
                        else if (User.IsInRole("teacher") && ViewBag.CourseStatus == "Finished")
                        {
                            <td>
                                @Html.ActionLink("Gradebook", "List", "Gradebook", new { courseId = item.CourseEntityId }, new { role = "button", @class = "btn btn-success", style = "float:right" })
                    </td>
                                }
                                }




                        </tr>
            }
            </tbody>
        </table>
    }



</section>